header {
  min-height: 100vh;
  margin: 0;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

header .hero-content {
  position: absolute;
  top: 214px;
  left: 650px;
  width: 599px;
  height: 104px;
  font-style: normal;
}

.main-txt {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  line-height: 48px;
  
}

.highlight-lifestyle {
  line-height: 100%;
  background: linear-gradient(93.31deg, #1173b3 -34.01%, #0cb9b3 69.91%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-experts {
  line-height: 132%;
}

.sub-txt {
  width: 630px;
  height: 32px;
  top: 342px;
  left: 650px;
}

.sub-txt p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #707070;
}

