header {
  min-height: 100vh;
  margin: 0;
  padding-bottom: 40px;
}

header .gradient-box-1 {
  position: absolute;
  width: 227px;
  height: 222px;
  left: 1021px;
  top: -8px;
  background: rgba(207, 225, 240, 0.44);
  filter: blur(75px);
}

header .wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-flex-wrapper {
  height: calc(100vh - 92px); 
  display: flex;
  align-items: center; 
  justify-content: center;
}


.hero-flex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: auto; 
}


.wrapper .gradient-box-2 {
  position: absolute;
  width: 318px;
  height: 313px;
  left: 347px;
  top: 301px;
  background: rgba(251, 241, 220, 0.96);
  filter: blur(75px);
  z-index: -2;
}

header .hero-content {
  width: 599px;
  font-style: normal;
  margin-top: 6rem;
}

.main-txt {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  line-height: 48px;
}

.highlight-lifestyle {
  line-height: 100%;
  background: linear-gradient(93.31deg, #1173b3 -34.01%, #0cb9b3 69.91%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-experts {
  line-height: 132%;
}

.sub-txt {
  width: 100%;
  margin-top: 20px;
}

.sub-txt p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #707070;
}

.gradient-separator {
  top: 2.5rem;
  position: relative;
  height: 38px;
  width: 120%;
  left: -10%;
  background: linear-gradient(282.8deg, #f0c971 11.7%, #e5688c 63.17%);
  transform: rotate(177.73deg); 
  transform-origin: center;
  z-index: 2;
}
