.lifestyle-section {
  padding: 80px 40px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  padding-right: 0px;
}

.gradient-box {
  position: absolute;
  width: 250px;
  height: 246px;
  top: -10;
  right: 0;
  background: rgba(207, 225, 240, 0.44);
  filter: blur(75px);
  z-index: 1;
}

.section-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.075em;
  color: #707070;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header h2 {
  font-size: 28px;
  line-height: 133%;
  font-weight: 400;
}

.section-header span {
  font-weight: 600;
  font-style: italic;
  background: linear-gradient(289.5deg, #f1ca72 27.25%, #d96e6c 92.08%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-buttons button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
  z-index: 1;
}

.labels-container {
  display: flex;
  gap: 12px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.label {
  padding: 8px 16px;
  border-radius: 26.26px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
  background: #ffffff;
  border: 0.847205px solid #d2d2d2;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
  text-align: center;
  color: #707070;
}

.label.active {
  background-color: #000;
  color: #fff;
}

.carousel-container {
  display: flex;
  overflow-x: auto;

  scroll-behavior: smooth;
  gap: 24px;
  scrollbar-width: none;
  padding-bottom: 20px;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {  flex: 0 0 47%;
  max-width: 493px;

  height: 485px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 3.4px 26.3px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  min-width: 282px; 
}

.card-image-wrapper {
  position: relative;
  height: 320px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(7.5px);
  border-radius: 67px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 6px;
}

.label-highlight {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #919191;
}

.card-label img {
  width: 25;
  height: 23;
  margin-right: 10px;
  gap: 4px;
}

.card-text {
  padding: 20px;
}

.card-text h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 133%;
  color: #000;
  margin: 0 0 10px;
}

.card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
  margin: 0;
}

@media (max-width: 768px) {
  .lifestyle-section {
    padding: 0px 20px;
  }

  .section-label {
    font-size: 14px;
    text-align: center;
    margin-bottom: 4px;
  }

  .section-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin: 0;
  }

  .section-header h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 133%;
  }

  .section-header h2 span {
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    background: linear-gradient(289.5deg, #f1ca72 27.25%, #d96e6c 92.08%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-bottom: 30px;
  }

  .nav-buttons {
    display: none;
  }

  .labels-container {
    display: none;
  }

   .card {
    width: 282px;
    height: 255px;
    border-radius: 10px;
  }

  .card-image {
    height: 255px;
    border-radius: 10px 10px 0 0;
  }

  .card-label {
    bottom: 20px;
    left: 12px;
    padding: 5px 10px;
    font-size: 13.09px;
  }

  .card-label img {
    width: 20px;
    height: 20px;
  }

  .label-highlight {
  font-weight: 500;
  font-size: 11.64px;
  line-height: 100%;
  letter-spacing: 0;
  color: #919191;
}

  .card-text {
    padding: 16px;
    gap: 10px;
  }

  .card-text h4 {
    font-size: 16px;
  }

  .card-text p {
    font-size: 14px;
    line-height: 22px;
  }
}

.carousel-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 493px;
  margin-right: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3.4px 26.26px rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .carousel-card {
    width: 282px;
    margin-right: 16px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 0px;
}
}